@tailwind components;
@tailwind utilities;

/* font */
@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy/Gilroy-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy/Gilroy-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy/Gilroy-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

* {
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

body {
    margin: 0;
    font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* zesha__box */
.zesha__box {
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    /* background-color: rgba(31,32,41,.75); */
    /* background: rgba(55, 54, 54, 0.84); */
    background: rgba(0, 39, 75, 0.7);
    pointer-events: none;
    opacity: 1;
    transition: opacity 250ms 300ms ease;
}

.zesha__ex-wrapper {
    position: relative;
    display: block;
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #f8f9f9;
    -ms-flex-item-align: center;
    align-self: center;
    opacity: 1;
    transform: scale(1);
    transition: opacity 200ms 150ms ease, transform 200ms 150ms ease;
    padding: 10px 20px;
    height: 98vh;
    max-height: 98vh;
}

.zesha__ex-wrapper.alert--bx {
    max-width: 440px;
}

.zesha__box.show {
    pointer-events: auto;
    opacity: 1;
    transition: all 200ms ease-in-out;
}

/* .zesha__ex.show .zesha__ex-wrapper {
  opacity: 1;
  transform: scale(1);
  transition: all 200ms ease-in-out;
} */

/* @media only screen and (max-width: 767px) {
  .zesha__ex-wrapper {
    width: calc(100% - 40px);
  }
} */

.main-wrapper {
    overflow-y: auto;
    height: 100%;
    max-height: 500px;
    padding: 10px 0 140px 0;
    scroll-behavior: smooth;
}

button {
    border-radius: 8px;
    cursor: pointer;
    /* all: unset; */
}

button.btn1 {
    background: #046ed1;
    width: 100%;
    padding: 15px 10px;
    color: #fff;
    border: none;
    box-shadow: 0px 3px 6px rgba(11, 10, 29, 0.07);
}

button.btn2 {
    background: #046ed1;
    width: 100%;
    padding: 10px 10px;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    color: #344054;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.share-btn {
    background: #046ed1;
    color: #ffffff;
    padding: 7px 20px;
    border: none;
    border-radius: 4px;
}

.balance_main_wrapper {
    padding: 20px 10px;
}
.balance_wrapper {
    background: #ffffff;
    box-shadow: 0px 4px 30px rgba(155, 153, 153, 0.11);
    text-align: center;
    padding: 20px 10px;
    /* margin-bottom: 15px; */
    border-radius: 8px;
}

.icon-box {
    padding: 0.5rem;
    border-radius: 50%;
    background: #f3f9ff;
    height: 30px;
    width: 30px;
    color: #046ed1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.balance_wrapper .icon-box {
    padding: 0.25rem;
    border-radius: 50%;
    background: #f3f9ff;
    height: 40px;
    width: 40px;
    color: #046ed1;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.balance_wrapper h5 {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}
.balance_wrapper span {
    font-size: 14px;
    color: #7f8691;
    font-weight: 400;
}

.balance_wrapper p {
    font-size: 12px;
    margin: 0;
    color: #046ed1;
    text-decoration: underline;
}

.ze_subheader h4 {
    color: #334155;
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0;
}
.settings .main_head.ze_subheader h4 {
    color: #344054;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}
.videos .main_head.ze_subheader h4 {
    color: #344054;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}

/*  */
.ze_acc_section {
    margin: 20px 0;
}
.ze_acc_section .ze_acc_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}
.ze_acc_section .ze_acc_box .btn2 {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.ze_acc_section .ze_acc_box .btn2 span:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

/*  */
.ze_reco_section {
    margin: 20px 0;
}
.ze_reco_section .ze_reco_box {
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    text-align: center;
    padding: 1rem 0;
    border-radius: 8px;
}
.ze_reco_inner_box {
    padding: 0.5rem 0;
    width: 100%;
}

.ze_reco_section .ze_reco_box h5 {
    color: #7f8691;
    font-size: 12px;
    margin: 0;
}
.ze_reco_section .ze_reco_box a {
    color: #046ed1;
    font-size: 12px;
}

/*  */
.home .ze_history_box .ze_subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .ze_history_box .ze_subheader a {
    text-decoration: underline;
    font-size: 12px;
}
.home .ze_history_box {
    height: auto;
}

/*  */
.ze_history_section {
    margin-top: 10px;
}
.ze_history_section h4 {
    color: #344054;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}

.ze_history_box {
    background: #ffffff;
    border-radius: 8px;
    padding: 15px 15px;
    height: 100vh;
}

.ze_history_main_card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem 0;
}

.ze_history_main_card:not(:last-child) {
    /* margin-bottom: 20px;
  padding-bottom:20px; */
    border-bottom: 1px solid #eeeff2;
}

.ze_history_main_card h5 {
    margin: 0;
}

.ze_history_main_box {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.ze_history_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.ze_history_title h5 span {
    font-size: 13px;
    font-weight: 400;
    color: #7f8691;
}
.ze_history_title span {
    font-size: 14px;
    font-weight: 500;
    color: #344054;
}

.ze_history_subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ze_history_subtitle .ze_history_date {
    font-size: 12px;
    color: #7f8691;
}
.ze_history_subtitle span:not(.ze_history_date) {
    font-size: 12px;
    color: #7f8691;
}

.zesha__box.show {
    overflow: hidden;
}

/* setting */
.ze_setting_box {
    margin-top: 15px;
}
.ze_setting_box select {
    margin-bottom: 10px;
    outline: 0;
    padding: 10px 10px;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    color: #7f8691;
    border-radius: 8px;
    height: 48px;
    cursor: pointer;
}

/* ======== LAYOUT ========*/

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

/* FOOTER */

.footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background: #ffffff;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-radius: 0 0 16px 16px; */
}

.footer a {
    cursor: pointer;
    color: #344054;
    transition: all 200ms ease-in-out;
    padding: 10px;
}

.footer a:hover {
    color: #046ed1;
    transition: all 200ms ease-in-out;
}
.footer a.active {
    color: #046ed1;
    transition: all 200ms ease-in-out;
}

/* SCROLLBAR */

.main-wrapper::-webkit-scrollbar {
    width: 0rem;
}
.main-wrapper::-webkit-scrollbar-track {
    background-color: #fbfbff;
    padding-top: 10px;
    /* background-color: (rgb(48, 47, 47) 173, 173); */
}
.main-wrapper::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    width: 0.1rem;
    background-color: #f3f3fe;

    /* background-color: #45CD85; */
}

.ze_setting_inner_wrapper {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.ze__settings__label {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    background: #ffffff;
    color: #7f8691;
}

.ze__settings__label span {
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.ze__settings__label input[type="checkbox"] {
    margin: 0;
    transition: all 0.3s ease-in-out;
    border: 1px solid #7f8691;

    /* border: 'none',
    background: '#7F8691', */
}

input[type="checkbox"]:checked + span {
    /* border: 1px solid red; */
    transition: all 0.3s ease-in-out;

    color: #046ed1;
}
input[type="radio"]:checked + span {
    /* border: 1px solid red; */
    transition: all 0.3s ease-in-out;

    color: #046ed1;
}

.btn1.settings_btn {
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* videos page */
.video_card_wrapper {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-top: 15px;
}

.video_card_main_wrapper .link_view_all a {
    color: #046ed1;
    text-decoration: none;
}
.video_card_main_wrapper .link_view_all {
    text-align: center;
    font-size: 12px;
    width: 100%;
}
.video_card .video_container {
    position: relative;
    width: 100%;
    object-fit: cover;
    display: block;
    height: 6rem;
    border-radius: 8px;
}

.video_card .video_container img {
    position: relative;
    width: 100%;
    object-fit: cover;
    display: block;
    height: 100%;
    border-radius: 8px;
}

.video_card .video_container span {
    position: absolute;
    bottom: 0.4rem;
    right: 0.4rem;
    color: #ffffff;
    border-radius: 9999px;
    padding: 0.25rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b0a1d;
    font-size: 10px;
}

.video_card .video_info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.45rem;
    width: 100%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.video_card .video_info .video_info_details {
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-between;
    height: 100%;
    /* gap: 0.75rem; */
    width: 100%;
    flex-direction: column;
}

/* text-[#046ED1] text-xs rounded-full bg-[#F3F9FF]  */
.video_card .video_info .video_info_details .video_user_img_box {
    height: 25px;
    width: 25px;
    object-fit: cover;
}
.video_card .video_info .video_user_img_box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video_card .video_info .video_info_details h5 {
    color: #344054;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}
.video_card .video_info .video_info_details span {
    color: #5c636e;
    margin: 0;
    font-size: 10px;
}

.video-js,
.data-vjs-player,
.vjs-theme-city {
    width: 100% !important;
}

.video-js,
#playlist-options {
    height: 400px !important;
}

#playlist-options {
    overflow-y: scroll;
}
